<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Elections</title>
</head>
<body class="bg-purple-100">
    <%- include('header') %> 
    <div class="flex-col flex justify-center gap-y-2.5 p-4 max-w-2xl m-auto">
        <% if(successmsg) { %>
            <div class="bg-purple-600 text-white px-4 py-2 rounded-md list-inside">
                 <%= successmsg %>
            </div>
          <% } %>
          <% if(errors && errors.length > 0)  { %>
            Can't launch election!
            <div class="bg-red-600 text-white px-4 py-2 rounded-md list-inside">
                <% for(let err of  errors) { %>
                    <li> <%= err %> </li>
                <% } %>
            </div>
          <% } %>
    <h1 class="text-4xl font-bold text-purple-800">Election "<%= election.name %>"</h1>
        <% if(!election) { %>
                Election doesn't exist
        <% } %> 
        <p>You have <%= qcount %> questions and <%= vcount %> voters.</p>

     <div class="text-lg flex flex-col gap-1.5">
        <a href="/elections/<%= election.id %>/questions" class="py-1 text-purple-800">Manage questions </a>
        <a href="/elections/<%= election.id %>/voters" class="py-1 text-purple-800">Manage voters</a>

        <% if(election.launched){ %>
            <% if(election.ended) { %>
                <p>
                Election has ended ! See the <a href="/v/<%= election.id %>/" class="py-1 text-red-800">Votes</a> 
                </p>
            <% }else{ %>
                <p>
                    Election is launched! 
                    <a href="/v/<%= election.id %>/" class="py-1 text-red-800">Visit Elections</a> 
                    <br/>
                    See the <a href="/elections/<%= election.id %>/votes" class="py-1 text-red-800">Votes</a> 
                    <br/>
                </p> 
                <a href="/elections/<%= election.id %>/end" class="py-1 text-red-800">End election</a>                
            <% } %>

        <% }else{ %>
            <a href="/elections/<%= election.id %>/launch" class="py-1 text-red-800">Launch</a>
        <% }%>        
    </div>
    </div>
</body>
</html>
