<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-200">
    <%- include('header') %>

    <div class="flex flex-col justify-center gap-y-2.5 p-4 max-w-xl m-auto">
        <h1 class="text-4xl text-purple-800 font-bold"><%= title %></h1>
        <%- include('breadcrumb') %> 

        <form action="/elections/<%= election.id %>/launch" method="post" class="flex flex-col gap-2">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <p>
                Are you sure you want to launch <a class="text-purple-900 font-bold" href="/elections/<%= election.id %>/">"<%= election.name %>"</a> election? You won't be able to modify questions or options.
            </p>
            <button class="w-full bg-red-600 p-2 text-white rounded-md">Launch</button>
        </form>
    </div>
</body>

</html>