<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Options</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-200">
    <%- include('header') %>
    <div class="flex flex-col justify-center gap-y-2.5 p-4 max-w-xl m-auto">
    <h1 class="text-4xl font-bold text-purple-800">Options for '<%= question.title %>" question</h1>

    <form method="POST" action="/elections/<%= question.electionId %>/questions/<%= question.id %>/options" enctype="application/json" class="flex flex-row gap-1">
        <input type="hidden" name="_csrf" class="flex-grow value=" value="<%= csrfToken %>">
        <input placeholder="New option" class="p-2 border-2 border-gray-dark rounded-sm w-full" type="text" name="text"/>
        <button class="uppercase bg-purple-800 text-white rounded-md font-bold p-2">
            Add&nbspOption
        </button>
    </form>
    
    <% if(question.options) { %>
        <% for( let o of question.options)  { %>
        <div class="border-2 p-2 rounded-sm border-gray-dark text-purple-800 flex justify-between">
          <%= o.text  %> 
        
          <% if(election.launched === false){ %>
          <button onclick="deleteOption(<%= question.electionId %>,<%=question.id%>,<%=o.id%>)">
            <%- include('delete') %>
            </button>
          <% } %>
        </div>
        <% } %>
    <%}%>
    </div>
    <script>
        const csrfToken = document.querySelector('meta[name="csrf-token"').getAttribute('content');
    
        function deleteOption(eid, qid, oid){
                fetch(`/elections/${eid}/questions/${qid}/options/${oid}/`, {
                    method : 'DELETE',
                    headers : {'Content-Type': 'application/json'},
                    body : JSON.stringify({_csrf : csrfToken})
                })
                .then(async res=>{
                    if(res.ok){
                        const data = await res.json();
                        if(!data.success){
                            alert(data.message);
                        }
                        window.location.reload()
                    }else{
                        alert(res.statusText);
                    }
                }).catch(console.log)
            }
      </script>
</body>
</html>