<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Questions</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-200">
  <%- include('header') %>

  <div class="flex flex-col justify-center gap-y-2.5 p-4 max-w-xl m-auto">
    <%- include('breadcrumb') %> 

    <h1  class="text-4xl text-purple-800 font-bold">Questions for <%= election.name %></h1>

    <form action="/elections/<%= election.id %>/questions" method="POST" class="w-full flex flex-col gap-2 text-purple-800">
      <input type="hidden" class="p-2 border-2 border-gray-dark rounded-sm block w-full"  name="_csrf" value="<%= csrfToken %>">      
      <label>
        <input placeholder="Class Monitor" type="text" class="p-2 border-2 border-gray-dark rounded-sm block w-full" name="title"/>
      </label>
      <label>
        <textarea placeholder="Who should be class monitor?" type="text" class="p-2 border-2 border-gray-dark rounded-sm block w-full" name="description"></textarea>
      </label>
      <button class="w-full bg-purple-800 p-2 text-white rounded-md border text-center">Add Question</button>
  </form>
  
   <% if(election.questions) { %>
    <% for( let q of election.questions)  { %>
      <div class="border-2 border-purple p-2">
        
       <h3 class="text-2xl text-purple-800"><%= q.title  %> </h3>
       <p><%= q.description %></p>
       <a href="/elections/<%=election.id%>/questions/<%= q.id %>/options/" class="text-purple-800">Manage options</a>
       </div>
    <% } %>
   <%}%>
  </div>
</body>
</html>