<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-200">
    <%- include('header') %>
    <div class="flex flex-col justify-center gap-y-2.5 p-4 max-w-sm m-auto">
        <h1 class="text-4xl font-bold text-purple-800">Sign Up</h1>
        <% if(errors && errors.length > 0)  { %>
            <div class="bg-red-600 text-white px-4 py-2 rounded-md list-inside">
                <% for(let err of  errors) { %>
                    <li> <%= err %> </li>
                <% } %>
            </div>
        <% } %>

        <form action="/admins" method="post" class="flex flex-col gap-2 text-purple-800">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>
                First Name
                <input placeholder="John" class="w-full border-2 rounded-sm border-purple p-2" type="text" name="firstName">
            </label>
            <label>
                Last Name
                <input placeholder="Doe" class="w-full border-2 rounded-sm border-purple p-2" type="text" name="lastName">
            </label>
            <label>
                Email
                <input placeholder="john.doe@example.com" class="w-full border-2 rounded-sm border-purple p-2" type="email" name="email">
            </label>
            <label>
                Password
                <input placeholder="*******" class="w-full border-2 rounded-sm border-purple p-2" type="password" name="password">
            </label>

            <button class="w-full bg-purple-600 p-2 text-white rounded-md">Submit</button>
        </form>

        <p class="py-2 text-gray-700">Already have an account? <a href="/login" class="text-purple-800">Log In</a></p>
    </div>
</body>

</html>