<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Elections</title>
</head>
<body class="bg-purple-100">
    <%- include('header') %> 
    <div class="flex-col flex justify-center gap-y-2.5 p-4 max-w-2xl m-auto">

        <h1 class="text-4xl font-bold text-purple-800">Votes for "<%= election.name %>"</h1>
            <% if(!election) { %>
                    Election doesn't exist
            <% } %> 
        <div class="text-lg flex flex-col gap-1.5">
            <% for( let question of election.questions ) { %>
                <div>
                    <canvas id="canvas<%= question.id %>">
                    Canvas not supported!
                    </canvas>
                </div>
            <% } %>
        </div>
    </div>
    <script>
        const election = <%- JSON.stringify(election) %>;
        console.log(election)
        for(let question of election.questions){
            const qid = question.id;
            console.log(question)
        const ctx = document.querySelector("#canvas"+qid).getContext('2d');
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: question.options.map(o=>o.text),
            datasets: [{
              label: '# of Votes',
              data: question.options.map(o=>o.voteCount),
              borderWidth: 1
            }]
          },
        //   options: {
        //     scales: {
        //       y: {
        //         step : 1, 
        //         beginAtZero: true
        //       }
        //     }
        //   }
        });
    }
    
      </script>
</body>
</html>
